.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;

  .app-logo {
    content: url("/images/LogiLogos-dark.svg");
  }
}

.navbar-wrapper {
  width: -webkit-fill-available;
  width: -moz-available;
  margin: auto;
  padding: 16px 0;
  transition: 0.3s;
  padding-inline: 5%;
  .menu-item a {
    color: #000;
  }

  &.nav-wrapper-fixed {
    background-color: rgb(38, 38, 42);
    .menu-item a {
      color: #fff;
    }
    .app-logo {
      content: url("/images/LogiLogos-light.svg");
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 6px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 0.3s ease;
    &:hover {
      transition: 0.3s ease;
      border: 1px solid #ffa930;
      color: #ffa930;
    }
  }

  .user-info-logged-parent {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      .user-info-logged {
        border: 1px solid #ffa930;
      }
      color: #ffa930;
    }
    .user-info-logged {
      color: #fff;
      cursor: pointer;
      border: 1px solid #fff;
      height: 30px;
      width: 30px;
      border-radius: 100px;
      margin-right: 12px;
      margin-left: 20px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      user-select: none;
      // transition: 0.3s ease;
    }
  }

  // .user-info-logged {
  //   color: #fff;
  //   cursor: pointer;
  //   border: 1px solid #fff;
  //   height: 50px;
  //   width: 50px;
  //   border-radius: 100px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   user-select: none;
  //   transition: 0.3s ease;
  //   &:hover {
  //     transition: 0.3s ease;
  //     border: 1px solid #ffa930;
  //     color: #ffa930;
  //   }
  // }
}

.menu-list {
  height: inherit;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    border-radius: 4px;
    padding: 8px 16px;
    &:hover {
      transition: 0.3s ease;
      background-color: #3e3c36;
      opacity: 0.8;
    }
  }
}

.menu-item {
  a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-size: 13px;
    font-weight: 600;
    &:hover {
      color: #ffa930;
    }
  }
  &.active {
    position: relative;
    height: inherit;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease;
      border-radius: 4px;
      padding: 8px 16px;
      transition: 0.3s ease;
      background-color: #3e3c36;
      color: #ffa930;
    }
  }
  // &.active::after {
  //   position: absolute;
  //   content: "";
  //   display: block;
  //   border-bottom: 2px solid #ffa930;
  //   left: 0;
  //   right: 0;
  //   top: 53px;
  // }
}

.hamburger {
  display: none;
}

.user-dropdown-overlay {
  background-color: #fff;
  list-style: none;
  padding: 20px 0px 20px 0px;
  border-radius: 8px;
  min-width: 180px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09), -2px -2px 4px rgba(0, 0, 0, 0.09),
    2px -2px 4px rgba(0, 0, 0, 0.09), -2px 2px 4px rgba(0, 0, 0, 0.09);
  li {
    color: #232a38;
    font-weight: 600;
    padding: 8px 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  li:hover {
    // color: #fe8819;
    background-color: #2c34441f;
  }
  a {
    transition: 0s;
  }
  a:hover {
    color: #232a38;
    transition: 0s;
  }
}

.menu-item-login-mobile {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}

@media only screen and (max-width: 1018px) {
  .user-info-logged {
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 0.3s ease;
    margin: auto;
    &:hover {
      transition: 0.3s ease;
      border: 1px solid #ffa930;
      color: #ffa930;
    }
  }

  .menu-wrapper {
    display: none;
  }

  .menu-list {
    display: block;
    margin: 0;
    padding: 32px 12px;
  }

  .menu-item {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &.active {
      display: block;
    }
  }

  .nav-button {
    margin-top: 12px;
  }

  .hamburger {
    color: #fff;
    display: block;
    // background-color: #4e1a86;
    border-radius: 4px;
    padding: 12px 6px;
    float: right;
    svg {
      font-size: 40px;
    }
  }
}
